@model UserResponse


    <div>
        <form asp-action="DaveteYanit" method="post">
            <input placeholder="Adınız" asp-for="Name" class="form-control" /><br />
            <span asp-validation-for="Name"></span><br />
            <input placeholder="Eposta" asp-for="Email" class="form-control" /><br />
            <span asp-validation-for="Email"></span><br />

            <select asp-for="IsParticipate" class="form-control">
                <option value="True">Evet</option>
                <option value="False">Hayır</option>
            </select><br />
            <span asp-validation-for="IsParticipate"></span><br />

            <button type="submit" class="btn btn-primary">Gönder</button>


        </form>
    </div>

